@import "tailwindcss";

:root {
  --background: #000000;
  --primary: #ffd700;
  --accent: #ff5722;
  --button: #f44336;
  --text: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  h1 {
    @apply text-3xl font-black text-[var(--button)];
  }
}
@layer components {

  .flex-container {
    @apply max-w-[1280px] mx-auto w-11/12;
  }
  .primary-btn {
    @apply text-base font-semibold py-2 px-4 rounded-md border-2  bg-[var(--button)] hover:bg-[var(--accent)] cursor-pointer border-[var(--button)] hover:border-[var(--accent)] transition-colors duration-300 ease-in;
  }
  .no-scroll::-webkit-scrollbar{
    display: none;
  }
  .no-scroll > option {
    background: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}

